
@media print {
  a[href]:after {
    content: "";
  }
}

html {
  overflow-y: scroll;
}
body {
  background-color: #ebe8e1;
  background: url(/textures/cubes.png);
  font-family: 'Open Sans', sans-serif;
}
.container .inner {
  background-color: #fff;
  transition-duration: 0.6s; /* Fade in time */
  transition-property: opacity;
  opacity: 1.0;
  position: relative;
  /*-webkit-filter: blur(0);*/
}
@media screen and (max-width: 719px) {
  body {
    background-color: #fff;
  }
}
@media screen and (min-width: 720px) {
  .container .inner {
    padding: 2vw;
    box-shadow: 0 2px 3px #D6D3CB;
    margin-top: 3em;
    margin-bottom: 3em;
  }
}
.container .inner.busy {
  /*transition-delay: 0.2s; */
  transition-duration: 0.6s; /* Fade out time */
  opacity: 0.4;
  /*-webkit-filter: blur(3px);*/
}
.half-width-doc {
  width: 50%;
  display: inline-block;
  padding: .8em;
  vertical-align: top;
}
h1 {
	font-size: 1.6em;
  letter-spacing:2px;
  border-bottom: 8px solid #eee;
	margin-top: 0;
	font-weight: 900;
}
h2 {
	font-size: 2em;
}

.inlinelists ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.inlinelists li {
  display: inline;
  margin: .2em 0 0 0;
  padding: 0 0 0 1em;
}
.panel-descr ul {
  list-style-type: square;
  padding: 0;
  list-style-position: inside;
}
.var {
  color: #70A431;
}
.table {
  margin-bottom: 0;
}

.vocabulary {
  color:#888;
  font-size:80%;
  font-style:italic;
  padding-left:.3em;
  display:inline-block;
}

.clearSearch:link, .clearSearch:visited {
  border-top: 1px solid #ccc;
  border-bottom:1px solid #ccc;
  padding: 5px 20px;
  font-size:20px;
  color:#B22;
}
.clearSearch:hover {
  color:#F00;
  background:#FEE;
}

.searchForm {
  margin: 18px 0;
  display:flex;
}
.searchForm label {
   border-radius: 6px 0 0 6px;
   border: 1px solid #ccc;
   background: #fff;
   border-right: 0;
   padding: 8px 4px 8px 14px;
   color: #33a16c;
   margin: 0;
   background: #fefefe;
}
.searchForm input {
  /* outline: none; */
  background: #fefefe;
  color: #33a16c;
  padding: 6px 12px;
  margin: 0;
  flex:1;
  font-size: 100%;

  border-radius: 6px 0 0 6px;
  border: 1px solid #ccc;
  border-right: 0;
}
.searchForm button {
  border: 1px solid #ccc;
  color: #33a16c;
  border-left: 0;
  padding: 6px 20px;
  border-radius: 0 6px 6px 0;
  background: rgba(0,255,0,0.1);
}
.searchForm button:hover {
  background: rgba(0,255,0,0.2);
}
.searchForm button:active {
  background: rgba(200,200,200,0.3);
  border-left: 1px solid #666;
}
.searchResults {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.searchResults > li:first-child {
  border-top: 1px solid #ccc;
}
.searchResults > li {
  margin: 0 0 .3em 0;
  padding: 5px 10px 5px 10px;
  background: #fff;
  border-bottom: 1px solid #ccc;
}
.searchResults h3 {
 font-size: 100%;
 font-weight: bold;
 margin: 2px 0;
 padding: 0;
}
.subject:link, .subject:visited {
 color: #D26934;
}
.searchResults .subjectSystem {
  display: block;
  margin: 1px 8px 0 8px;
}
.searchResults .subjectSystem ul {
  display: inline;
  list-style-type:none;
  margin: 0;
  padding: 0;
}
.searchResults .subjectSystem li {
  display:inline; margin: 1px 0px; padding: 0;
}
.searchResults .subjectSystem li a {

}
.searchResults .subjectSystem li+li:before {
  content: ' • ';
  color: #888;
  font-weight: bold;
}

.seriesAndNotes, .holdings {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.seriesAndNotes li, .holdings li {
  margin: 0;
}

/**
 * Spinner by @tobiasahlin from <http://tobiasahlin.com/spinkit/>
 */
 .spinner {
  position: relative;
  float: right;
  top:18px;
  margin-top: 3em;
  margin-right: 2em;
  width: 70px;
  text-align: center;
  z-index: 2;
}
 @media screen and (max-width: 479px) {
  .spinner {
    position: absolute;
    top: 1vw;
    right: 3vw;
    margin: 0 auto;
    width: 70px;
    text-align: center;
    z-index: 2;
  }
 }
 @media screen and (min-width: 480px) {
  .spinner {
    position: relative;
    float: right;
    top:18px;
    margin-top: 3em;
    margin-right: 2em;
    width: 70px;
    text-align: center;
    z-index: 2;
  }
 }
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #686;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}



/*************CSS SPINNER ***********/

#loader-wrapper {

}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: 0 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ddd; /* #3498db; */
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ddd; /* #e74c3c;*/
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ddd; /* #f9c922; */
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}