body {
  background-color: #ebe8e1;
  font-family: 'Open Sans', sans-serif;
}
.container {
  background-color: #fff;
  padding: 2em;
  box-shadow: 0 2px 3px #D6D3CB;
  margin-top: 3em;
  margin-bottom: 3em;
}

h1 {
	font-size: 3em;
	margin-top: 0;
	font-weight: 400;
}
h2 {
	font-size: 1.4em;
}

.iconlist {
  margin: 0 0 0 0;
  padding: 0;
  list-style: none;
}
.iconlist li {
  margin: .2em 0 0 0;
  padding: 0 0 0 28px;
  background-repeat: no-repeat;
  background-position: 6px 2px;
  background-size: 16px 16px;
}