
<div ng-show="!volumes.length">
	<i class="fa fa-cog fa-spin"></i> Fetching volumes</div>	
</div>
<ul>
	<li ng-repeat="volume in volumes">
		<a ng-href="{{ volume._id ? '/documents/' + volume._id : '/documents?q=id:' + volume.bibliographic.id }}">{{ volume.bibliographic.part_no }}{{
            volume.bibliographic.year ? ' (' + volume.bibliographic.year + ')' : ''
		}}{{
            volume.bibliographic.pages ? ', ' + volume.bibliographic.pages + ' p. ' : ''
		}} {{
            volume.bibliographic.title
        }}</a>
	</li>
</ul>
