
<p>
	Library metadata API. Spec is <em>not</em> stable. <a href="https://github.com/scriptotek/katapi">More info</a>
</p>
<p>
	Use <tt>Accept: application/json</tt> (or add <tt>?format=json</tt>) to get the JSON representation of a resource.
	More formats might be available in the future. HTML representations are quite limited currently.
</p>

<h2><a name="document">Document</a></h2>
<p>
	A <em>document</em> is some entity open to bibliographic description. Documents include
	books, journals, media, etc. In addition to bibliographic information, documents
	embed <em>holdings</em> information describing physical copies of the document.
</p>

<h3><tt>GET /documents/<span class="var">:id</span></tt></h3>
<p>
	Returns a single document by its locally unique <span class="var">:id</span> parameter.
	If not found, a 404 response is returned.
</p>
<p>
	Examples:	
</p>
<ul>
	<li>
		Get the document with <tt><span class="var">:id</span>=54a9c9e58b70d51c2a0041d9</tt><br>
		<a href="/documents/54a9c9e58b70d51c2a0041d9">/documents/54a9c9e58b70d51c2a0041d9</a>		
	</li>
    <li>
		A document demonstrating complex journal succeeding entry:<br>
        <a href="/documents/54aaa03c8b70d51c2a0041e5">/documents/54aaa03c8b70d51c2a0041e5</a>
    </li>
    <li>
        A document demonstrating relator codes for creators:<br>
        <a href="/documents/54aaa87f8b70d51c2a0043d4">/documents/54aaa87f8b70d51c2a0043d4</a>
    </li>
</ul>

<h3><tt>GET /documents?q=<span class="var">:query</span></tt></h3>
<p>
	Returns a list of (zero or more) documents, usually filtered by some query.
	The query is made up of one or more fields.
</p>

<em>Examples:</em>
<ul>
	<li>
		<strong><tt>id</tt></strong> : Query by <em>some</em> identifier, such as 
		<ul>
		    <li>
		    	<em>BIBSYS objektid</em>:<br>
				<a href="/documents?q=id:132038137">/documents?q=id:132038137</a>
		    </li>
		    <li>
		    	<em>BIBSYS dokid</em>:<br>
				<a href="/documents?q=id:12k189510">/documents?q=id:12k189510</a>	
		    </li>
		    <li>
		    	<em>BIBSYS knyttid</em>:<br>
				<a href="/documents?q=id:050076NA0">/documents?q=id:050076NA0</a>
		    </li>
		    <li>
		    	<em>ISBN</em> (ISBN10 or 13, hyphens optional): <br>
				<a href="/documents?q=id:1-107-01395-X">/documents?q=id:1-107-01395-X</a>
		    </li>
		</ul>
	</li>
	<li>
		CQL query: (syntax subject to change)
		<ul>
		    <li>
		    	Return the volumes of a multi volume work:<br>
				<a href="/documents?q=bs.serieobjektid%3D042457270">/documents?q=bs.serieobjektid%3D042457270</a>
		    </li>
		</ul>
	</li>
</ul>



<h2><a name="subject">Subject</a></h2>
<p>
	A <em>subject</em> is some entity that is part of a controlled subject headings vocabulary.
	A subject can be uniquely identified by it's identifier or the combination
	of an index term and a vocabulary name, see examples below.
	Subject resources embed document usage information.
</p>
<h3><tt>GET /subjects/<span class="var">:id</span></tt></h3>

<p>
	Returns a single subject by its locally unique <span class="var">:id</span> parameter. If not found, a 404 response is returned.
</p>
<p>
	Examples:
</p>
<ul>
	<li>
		x:<br>
		<a href="/subjects/x">/subjects/x</a>		
	</li>
</ul>

<h3><tt>GET /subjects?q=<span class="var">:query</span></tt></h3>
<p>
	Returns a list of (zero or more) subject headings, usually filtered by some query.
	The query is made up of one or more fields.
</p>

<em>Examples:</em>
<ul>
	<li>
		The term "Steganografi" in the vocabulary "Realfagstermer", as identified
		by the LC subject source code "noubomn":<br>
		<a href="/subjects?q=vocab:noubomn+term:Steganografi">/subjects?q=vocabulary:noubomn+term:Steganografi</a>		
	</li>
</ul>


<h2>GET /creators/show/:id</h2>
…

<h2>GET /creators</h2>
…

<h2>GET /covers/show/:id</h2>
Returns a list of available covers for a given Document. The first cover is the preferred cover.
…

<h2>POST /covers/select/:document/:cover</h2>
Set the preferred cover for a given document
…

<h2>POST /covers/store/:document/:cover</h2>
Store a cover for the given document.
…
