
<div ng-show="!subject">
    ...
</div>

<div ng-show="subject && subject.error">
    {{subject.error}}
</div>

<div ng-show="subject && !subject.error">

    <div style="float: right;">
        <a target="_self" ng-href="/subjects/{{ subject._id }}.json">[JSON]</a>
    </div>

    <h2>
        <span style="color:#AAA;">Subject:</span> {{ subject.indexTerm }}
    </h2>

    <table class="table">
        <tr>
            <td>
                Vocabulary:
            </td>
            <td>
                {{subject.vocabulary}}
                <em ng-show="!subject.vocabulary">Not specified</em>
            </td>
        </tr>
        <tr>
            <td>
                Identifier:
            </td>
            <td>
                {{subject.identifier}}
                <em ng-show="!subject.identifier">Not specified</em>
            </td>
        </tr>
    </table>

    <h3>Documents</h3>

    <ul>
        <li ng-repeat="doc in subject.documents">
            <a href="{{ doc.link }}">{{ doc.title }}</a>
            ({{doc.edition}} {{doc.year}})
        </li>
    </ul>

</div>