
<div>
  <h3><a href="/documents/search">Søk</a></h3>

  <form class="searchForm" ng-submit="search()" ng-class="{busy:busy}">
    <!--<label for="query">CQL:</label>-->
    <input type="text" id="query" ng-model="query.q" name="query">
    <a href="#" class="clearSearch" title="Tøm søk" ng-click="query=''">
      <i class="fa fa-times"></i>
    </a>
    <button type="submit"><i class="fa fa-search"></i> Søk</button>
  </form>
  <p>
    Søkebyggesteiner:
    <a ng-click='query.q = query.q + " bs.tittel-ord=\"top quark\""'>bs.tittel-ord="top quark"</a>
    •
    <a ng-click='query.q = query.q + " bs.lokoeo-frase=\"Sild\" AND bs.avdeling=\"ureal?\""'>bs.lokoeo-frase="Sild" AND bs.avdeling="ureal?"</a>
    •
    <a ng-click='query.q = query.q + " sortBy bs.aar/sort.descending"'>sortBy bs.aar/sort.descending</a>

  </p>

  Vis:
  <label><input type="checkbox" ng-model="query.show.indexing"> emner og klasser</label>
  <label><input type="checkbox" ng-model="query.show.series"> serier</label>
  <label><input type="checkbox" ng-model="query.show.notes"> noter</label>
  <label><input type="checkbox" ng-model="query.show.holdings"> beholdning</label>

  <hr>
  <div style="float: right;">
    <a target="_self" ng-href="/documents.json?q={{ query.q }}&amp;show={{ query.show }}">[JSON]</a>
  </div>

  <div ng-show="results.numberOfRecords != -1" style="margin:.5em 0; padding: .5em;">
    <span ng-show="results.numberOfRecords == 0">Ingen dokumenter ble funnet.</span>
    <span ng-show="results.numberOfRecords == 1">Ett dokument ble funnet.</span>
    <span ng-show="results.numberOfRecords > 1">{{ results.numberOfRecords }} dokumenter ble funnet.</span>
    <span ng-show="results.numberOfRecords == results.documents.length">Viser alle.</span>
    <span ng-show="results.numberOfRecords != results.documents.length">Viser {{ results.documents.length }}.</span>
    <span ng-show="busy">Henter flere...</span>
    <span ng-show="results.query_engine == 'local'">
      Spørringen ble behandlet lokalt.
    </span>
    <span ng-show="results.query_engine == 'remote'">
      Spørringen ble ikke forstått lokalt, og ble derfor videresendt til Bibsys.
    </span>
  </div>
    
  <ul class="searchResults fa-ul" infinite-scroll="moreResults()" infinite-scroll-disabled="busy" infinite-scroll-distance="4">

    <li ng-repeat="doc in results.documents">

      <i class="fa-li fa fa-angle-double-right"></i>
      <h3>
        <a ng-href="/documents/{{ doc._id }}">{{ doc.bibliographic.title }}{{
          doc.bibliographic.part_no ? ' – ' + doc.bibliographic.part_no : '' 
        }}</a>{{
          (doc.bibliographic.edition || doc.bibliographic.year) ? ' (' + (doc.bibliographic.edition + ' ' + doc.bibliographic.year).trim() + ')' : ''

        }}
      </h3>

      <!--
        EMNER OG KLASSER
        -->
      <div ng-show="query.show.indexing">
        <div class="subjectSystem" ng-repeat="(voc, items) in doc.subjectsAndClasses">
          <span style="color: #888">
            <i class="fa fa-tags"></i>
            {{ vocabularies[voc] || voc }}:
          </span>
          <ul>
            <li ng-repeat="itm in items">
              <a class="subject" ng-href="{{ itm.link }}"> {{ itm.term }}</a>
              <span style="color:#888;" ng-show="itm.extras">
                (<!--{{ implode(', ', $itm['extras']) }}-->)
              </span>
            </li>
          </ul>
        </div>
      </div>

      <!--
        SERIER OG NOTER
        -->

      <ul class="seriesAndNotes">

          <li ng-repeat="series in doc.bibliographic.series" ng-show="query.show.series">
                  <i class="fa fa-angle-double-up"></i> 
                  Del av serien: {{series.title}}
                  <span ng-show="series.volume">
                    (bind/heftenr. {{series.volume}})
                  </span>
                  <span ng-show="doc.bibliographic.series.issn">
                    (ISSN {{doc.bibliographic.series.issn}})
                  </span>
              </li>

              <li ng-show="query.show.series && doc.bibliographic.part_of">
                  <i class="fa fa-angle-double-up"></i> 
                  Del av flerbindsverket: {{doc.bibliographic.part_of.title}}
                  <span ng-show="doc.bibliographic.part_of.volume">
                    (bind/heftenr. {{doc.bibliographic.part_of.volume}})
                  </span>
              </li>

              <li ng-show="query.show.series && doc.bibliographic.preceding">
                <i class="fa fa-angle-double-left"></i> 
                {{doc.bibliographic.preceding.note}}
                <span ng-show="!doc.bibliographic.preceding.note">
                  {{doc.bibliographic.preceding.relationship_type}}
                  <span ng-repeat="itm in doc.bibliographic.preceding.items">
                    {{itm.id}} {{itm.related_parts}},
                  </span>
                </span>
              </li>

              <li ng-show="query.show.series && doc.bibliographic.succeeding">
                <i class="fa fa-angle-double-right"></i> 
                {{doc.bibliographic.succeeding.note}}
                <span ng-show="!doc.bibliographic.succeeding.note">
                  {{doc.bibliographic.succeeding.relationship_type}}
                  <span ng-repeat="itm in doc.bibliographic.succeeding.items">
                    {{itm.id}} {{itm.related_parts}},
                  </span>
                </span>
              </li>

              <li ng-repeat="note in doc.bibliographic.notes" ng-show="query.show.notes">
                <i class="fa fa-comment-o"></i> {{note}}
              </li>

            </ul>

            <ul class="holdings" ng-show="query.show.holdings">
                <li ng-repeat="holding in doc.holdings">
                  <i class="fa fa-hand-o-right"></i> 

                  <span class="collection">{{holding.shelvinglocation}}</span>
                  {{holding.callcode}}
                  <span ng-show="holding.circulation_status!=='Available'">(<strong>{{holding.circulation_status}}</strong>)</span>
                  <span ng-repeat="note in holding.public_notes">
                      <i class="fa fa-comment-o"></i> {{note}}
                  </span>
<!--                   <span ng-repeat="note in holding.nonpublic_notes">
                      <i class="fa fa-comment-o"></i> {{note}}
                  </span>
 -->              <span ng-show="holding.holdings">
                      <i class="fa fa-folder-open-o"></i> {{holding.holdings}}
                  </span>

                  <!--<small style="color:#888;">({{holding.dokid}})</small>-->
                </li>
              </ul>

    </li>   
  </ul>

  <div ng-show="error" class="alert alert-danger" role="alert">FEIL: {{ error }}</div>

  <div ng-show="busy">
    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>
  </div>

</div>