
<div>
  <h3><a href="/documents/search">Søk</a></h3>

  <form class="searchForm" ng-submit="search()" ng-class="{busy:busy}">
    <!--<label for="query">CQL:</label>-->
    <input type="text" id="query" ng-model="query.q" name="query" autofocus>
    <a href="#" class="clearSearch" title="Tøm søk" ng-click="query=''">
      <i class="fa fa-times"></i>
    </a>
    <button type="submit"><i class="fa fa-search"></i> Søk</button>
  </form>
  <p>
    Søkebyggesteiner:
    <a ng-click='query.q = query.q + " bs.tittel-ord=\"top quark\""'>bs.tittel-ord="top quark"</a>
    •
    <a ng-click='query.q = query.q + " bs.lokoeo-frase=\"Sild\" AND bs.avdeling=\"ureal?\""'>bs.lokoeo-frase="Sild" AND bs.avdeling="ureal?"</a>
    •
    <a ng-click='query.q = query.q + " sortBy bs.aar/sort.descending"'>sortBy bs.aar/sort.descending</a>

  </p>

  Vis:
  <label><input type="checkbox" ng-model="query.show.sh"> kontrollerte emneord</label>
  <label><input type="checkbox" ng-model="query.show.k"> frie emneord</label>
  <label><input type="checkbox" ng-model="query.show.c"> klassifikasjon</label>
  <label><input type="checkbox" ng-model="query.show.se"> serier</label>
  <label><input type="checkbox" ng-model="query.show.n"> noter</label>
  <label><input type="checkbox" ng-model="query.show.h"> beholdning</label>

  <hr>
  <div style="float: right;">
    <a target="_self" ng-href="/documents.json?q={{ query.q }}">[JSON]</a>
  </div>

  <div ng-show="results.numberOfRecords != -1" style="margin:.5em 0; padding: .5em;">
    <span ng-show="results.numberOfRecords == 0">Ingen dokumenter ble funnet.</span>
    <span ng-show="results.numberOfRecords == 1">Ett dokument ble funnet.</span>
    <span ng-show="results.numberOfRecords > 1">{{ results.numberOfRecords }} dokumenter ble funnet.</span>
    <span ng-show="results.numberOfRecords == results.documents.length">Viser alle.</span>
    <span ng-show="results.numberOfRecords != results.documents.length">Viser {{ results.documents.length }}.</span>
    <span ng-show="busy">Henter flere...</span>
    <span ng-show="results.query_engine == 'local'">
      Spørringen ble behandlet lokalt.
    </span>
    <span ng-show="results.query_engine == 'remote'">
      Spørringen ble ikke forstått lokalt, og ble derfor videresendt til Bibsys.
    </span>
  </div>

  <ul class="searchResults fa-ul"
    infinite-scroll="moreResults()"
    infinite-scroll-disabled="busy || error"
    infinite-scroll-distance="4">
    <documentlist docs="results.documents" show="query.show"></documentlist>
  </ul>

  <div ng-show="error" class="alert alert-danger" role="alert">FEIL: {{ error }}</div>

  <div ng-show="busy">
    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>
  </div>

</div>