
<div ng-show="!doc">
 ...
</div>

<div ng-show="doc && doc.error">
  {{doc.error}}
</div>

<div ng-show="doc && !doc.error">

	<div style="float: right;">
		<a target="_self" ng-href="/documents/show/{{ doc.bibsys_id}}.json">[JSON]</a>
	</div>

	<div style="padding: 6px 0; font-size: 85%;">
		Record {{ doc.bibsys_id }}, cataloged using <abbr title="{{ catalogingRules[doc.catalogingRules] || doc.catalogingRules }}">{{ doc.catalogingRules }}</abbr>.
		MARC21 XML source data:
		<a ng-href="http://sru.bibsys.no/search/biblioholdings?operation=searchRetrieve&amp;version=1.1&amp;startRecord=1&amp;maximumRecords=10&amp;recordSchema=marcxchange&amp;query=bs.objektid%3D{{ doc.bibsys_id }}">SRU</a>
		/
		<a ng-href="http://oai.bibsys.no/oai/repository?verb=GetRecord&amp;metadataPrefix=marcxchange&amp;identifier=oai:bibsys.no:collection:{{ doc.bibsys_id }}">OAI-PMH</a>.
		Show record in:
		<a ng-href="http://ask.bibsys.no/ask/action/show?kid=biblio&amp;visningsformat=bibsysmarc&amp;pid={{ doc.bibsys_id }}">Bibsys Ask</a>
		/
		<a ng-href="http://bibsys-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlDisplay.do?vid=UBO&amp;docId=BIBSYS_ILS{{ doc.bibsys_id }}">Primo</a>.
	</div>

	<h2>
		{{ doc.title }}{{ 
			doc.part_no ? ', ' + doc.part_no : ''
		}}{{ 
			doc.year ? ' (' + doc.year + ')' : ''
		}}
	</h2>

	<div class="panel panel-default panel-descr">
	  <!-- Default panel contents -->
	  <div class="panel-heading">Description</div>

	  <div class="panel-body">

		<table class="table">
			<tr>
				<td style="width:25%;">
					Material:
				</td>
				<td>
					{{doc.material}} {{ doc.electronic ? ' (electronic)' : ' (physical)' }}

					<div ng-show="doc.other_form && docs.length == 1">
						<i class="fa fa-hand-o-right"></i> <a ng-href="/documents/show/{{ doc.other_form.id }}">
						{{ doc.electronic ? 'A printed' : 'An electronic' }} edition</a>
						is also available
						<a ng-href="/documents/compare/{{ doc.bibsys_id }}/{{ doc.other_form.id }}">(compare)</a>
					</div>

				</td>
			</tr>
			<tr>
				<td>
					Publisher:
				</td>
				<td>
					{{ doc.publisher }}
				</td>
			</tr>
			<tr>
				<td>
					ISBNs:
				</td>
				<td>
					<ul>
						<li ng-repeat="isbn in doc.isbns">
							{{ isbn }}
						</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>
					Creators:
				</td>
				<td>
					<ul>
						<li ng-repeat="author in doc.authors">
							<a ng-show="author.bibsys_identifier" ng-href="http://tools.wmflabs.org/bsaut/show/{{ author.bibsys_identifier }}">{{ author.name }}</a>
							<span ng-show="!author.bibsys_identifier">{{ author.name }}</span>
							({{ roles[author.role] || author.role }})
						</li>
					</ul>
				</td>
			</tr>

			<tr ng-show="doc.is_multivolume">
				<td>
					Volumes:
				</td>
				<td>
					<volumes item-id="{{ doc.bibsys_id }}"></volumes>
				</td>
			</tr>

			<tr ng-show="doc.forms && doc.forms.length">
				<td>
					Form/genre:
				</td>
				<td>
					<ul>
						<li ng-repeat="form in doc.forms">
		                    {{ form.term }}
		                    <span class="vocabulary" ng-show="form.vocabulary">
		                      <!-- ( . array_get(Subject::$vocabularies, $val['vocabulary'], $val['vocabulary']) . ')-->
		                    </span>
						</li>
					</ul>
				</td>
			</tr>

			<tr ng-show="doc.preceding && doc.preceding.items">
				<td>
					Preceding:
				</td>
				<td>
					{{ doc.preceding.relationship_type }}:
					<ul>
						<li ng-repeat="item in doc.preceding.items">
							<work item-id="{{ item.id }}" item-part="{{ item.related_parts }}"></work>
						</li>
					</ul>
				</td>
			</tr>

			<tr ng-show="doc.succeeding && doc.succeeding.items">
				<td>
					Succeeding:
				</td>
				<td>
					{{ doc.succeeding.relationship_type }}:
					<ul>
						<li ng-repeat="item in doc.succeeding.items">
							<work item-id="{{ item.id }}" item-part="{{ item.related_parts }}"></work>
						</li>
					</ul>
				</td>
			</tr>

		</table>

		<div ng-show="doc.is_series">
			is series work		
		</div>

		<ul ng-show="doc.series">
			<li ng-repeat="series in doc.series">
				Part of {{ series.title }}
			</li>
		</ul>
		<ul ng-show="doc.part_of">
			<li>
				{{doc.part_of.relationship}} 
				<work ng-show="doc.part_of.bibsys_id" item-id="{{ doc.part_of.bibsys_id }}" ></work>
				<span ng-show="!doc.part_of.bibsys_id">{{ doc.part_of.title }}</span>

			</li>
		</ul>

	</div>
	</div>

	<div class="panel panel-default inlinelists">
		<!-- Default panel contents -->
		<div class="panel-heading">Subjects and classes</div>

			<div class="panel-body">
			<div style="margin-top:.5em" ng-repeat="(voc, items) in doc.subjectsAndClasses">
				<span class="vocabulary">
					{{ vocabularies[voc] || voc }}
				</span>
				<ul>
					<li ng-repeat="itm in items">
						<a href="{{ itm.url }}"><span class="fa fa-tag"></span> {{ itm.term }}</a>
						<span style="color:#888;" ng-show="itm.edition">
						(ed. {{itm.edition}})
						</span>
						<span style="color:#888;" ng-show="itm.extras">
							(<!--{{ implode(', ', $itm['extras']) }}-->)
						</span>
					</li>
				</ul>
			</div>

		</div>
	</div>

	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">Holdings</div>

		<div class="panel-body">
		<ul class="list-group" style="list-style-type: none;">
			<li style="margin-top:.5em" ng-repeat="holding in doc.holdings">

				<div><span class="fa {{ holding.circulation_status == 'Available' ? 'fa-check-circle text-success' : 'fa-times-circle text-warning' }}"></span>
				{{ holding.shelvinglocation }}{{ 
					(holding.callcode && holding.callcode != '-' ) ? ' ' + holding.callcode : '' 
				}} : {{
					holding.circulation_status
				}}{{
					holding.use_restrictions ? ', ' + holding.use_restrictions.toLowerCase() : ''
				}}
				</div>
				<div ng-repeat="note in holding.public_notes">Note: {{ note }}</div>
				<div ng-repeat="fulltext in holding.fulltext">
					<a href="{{ fulltext.url }}">
						Fulltext from {{ fulltext.provider }}
					</a>
				</div>
				<small>{{ holding.id }}{{
					holding.acquired ? ', acquired: ' + holding.acquired.split(' ')[0] : ''
				}}</small>

			</li>
		</ul>

		</div>
	</div>

</div>