
<div ng-show="!doc">
 ...
</div>

<div ng-show="doc && doc.error">
  <h2>Failed to load document(s)</h2>
  <p style="background:#fee; padding: 2em;">
  	{{doc.error}}
  </p>
</div>

<div ng-show="doc && !doc.error">

	<div style="float: right;">
		<a target="_self" ng-href="/documents/{{ doc._id }}.json">[JSON]</a>
	</div>

	<div style="padding: 6px 0; font-size: 85%;">
		Record {{ biblio.id }}, cataloged using <abbr title="{{ catalogingRules[biblio.catalogingRules] || biblio.catalogingRules }}">{{ biblio.catalogingRules }}</abbr>.
		MARC21 XML source data:
		<a ng-href="http://sru.bibsys.no/search/biblioholdings?operation=searchRetrieve&amp;version=1.1&amp;startRecord=1&amp;maximumRecords=10&amp;recordSchema=marcxchange&amp;query=bs.objektid%3D{{ biblio.id }}">SRU</a>
		/
		<a ng-href="http://oai.bibsys.no/oai/repository?verb=GetRecord&amp;metadataPrefix=marcxchange&amp;identifier=oai:bibsys.no:collection:{{ biblio.id }}">OAI-PMH</a>.
		Show record in:
		<a ng-href="http://ask.bibsys.no/ask/action/show?kid=biblio&amp;visningsformat=bibsysmarc&amp;pid={{ biblio.id }}">Bibsys Ask</a>
		/
		<a ng-href="http://bibsys-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlDisplay.do?vid=UBO&amp;docId=BIBSYS_ILS{{ biblio.id }}">Primo</a>.
	</div>

	<h2>
		{{ biblio.title }}{{ 
			biblio.part_no ? ', ' + biblio.part_no : ''
		}}{{
			(biblio.edition || biblio.year) ? ' (' + (biblio.edition + ' ' + biblio.year).trim() + ')' : ''
		}}
	</h2>

	<div class="panel panel-default panel-descr">
	  <!-- Default panel contents -->
	  <div class="panel-heading">Description</div>

	  <div class="panel-body">

		<table class="table">
			<tr>
				<td style="width:25%;">
					Material:
				</td>
				<td>
					{{biblio.material}} {{ biblio.electronic ? ' (electronic)' : ' (physical)' }}

					<div ng-show="biblio.other_form && docs.length == 1">
						<i class="fa fa-hand-o-right"></i> <a ng-href="/documents/show/{{ biblio.other_form.id }}">
						{{ biblio.electronic ? 'A printed' : 'An electronic' }} edition</a>
						is also available
						<a ng-href="/documents/compare/{{ biblio.id }}/{{ biblio.other_form.id }}">(compare)</a>
					</div>

				</td>
			</tr>
			<tr ng-show="biblio.publisher">
				<td>
					Publisher:
				</td>
				<td>
					{{ biblio.publisher }}
				</td>
			</tr>
			<tr ng-show="biblio.isbns.length">
				<td>
					ISBNs:
				</td>
				<td>
					<ul>
						<li ng-repeat="isbn in biblio.isbns">
							{{ isbn }}
						</li>
					</ul>
				</td>
			</tr>
			<tr ng-show="biblio.creators.length">
				<td>
					Creators:
				</td>
				<td>
					<ul>
						<li ng-repeat="author in biblio.creators">
							<a ng-show="author.id" ng-href="/documents?q=creator:{{ author.id }}">{{ author.name }}</a>
							<span ng-show="!author.id">{{ author.name }}</span>
							({{ roles.nb[author.role] || author.role }})
						</li>
					</ul>
				</td>
			</tr>
			<tr ng-show="biblio.notes.length">
				<td>
					Notes:
				</td>
				<td>
					<ul>
						<li ng-repeat="note in biblio.notes">
							{{ note }}
						</li>
					</ul>
				</td>
			</tr>

			<tr ng-show="biblio.is_multivolume">
				<td>
					Volumes:
				</td>
				<td>
					<volumes item-id="{{ biblio.id }}"></volumes>
				</td>
			</tr>

			<tr ng-show="biblio.is_series">
				<td>
					Volumes:
				</td>
				<td>
					<volumes item-id="{{ biblio.id }}"></volumes>
				</td>
			</tr>

			<tr ng-show="biblio.forms && biblio.forms.length">
				<td>
					Form/genre:
				</td>
				<td>
					<ul>
						<li ng-repeat="form in biblio.forms">
		                    {{ form.term }}
		                    <span class="vocabulary" ng-show="form.vocabulary">
		                      <!-- ( . array_get(Subject::$vocabularies, $val['vocabulary'], $val['vocabulary']) . ')-->
		                    </span>
						</li>
					</ul>
				</td>
			</tr>

			<tr ng-show="biblio.preceding && biblio.preceding.items">
				<td>
					Preceding:
				</td>
				<td>
					{{ biblio.preceding.relationship_type }}:
					<ul>
						<li ng-repeat="item in biblio.preceding.items">
							<work item-id="{{ item.id }}" item-part="{{ item.related_parts }}"></work>
						</li>
					</ul>
				</td>
			</tr>

			<tr ng-show="biblio.succeeding && biblio.succeeding.items">
				<td>
					Succeeding:
				</td>
				<td>
					{{ biblio.succeeding.relationship_type }}:
					<ul>
						<li ng-repeat="item in biblio.succeeding.items">
							<work item-id="{{ item.id }}" item-part="{{ item.related_parts }}"></work>
						</li>
					</ul>
				</td>
			</tr>

			<tr ng-show="biblio.series.length || biblio.part_of">
				<td>
					Series:
				</td>
				<td>
					<ul>
						<li ng-repeat="series in biblio.series">
							<work ng-show="series.id" item-id="{{ series.id }}" >{{ series.title }}</work>
							<span ng-show="!series.id">{{ series.title }}</span>
						</li>
						<li ng-show="biblio.part_of">
							{{biblio.part_of.relationship ? biblio.part_of.relationship : 'Part of' }} 
							<work ng-show="biblio.part_of.id" item-id="{{ biblio.part_of.id }}" ></work>
							<span ng-show="!biblio.part_of.id">{{ biblio.part_of.title }}</span>
						</li>
					</ul>
				</td>
			</tr>

		</table>

	</div>
	</div>

	<div class="panel panel-default inlinelists">
		<!-- Default panel contents -->
		<div class="panel-heading">Subjects and classes</div>

			<div class="panel-body">
			<div style="margin-top:.5em" ng-repeat="(voc, items) in doc.subjectsAndClasses">
				<span class="vocabulary">
					{{ vocabularies[voc] || voc }}
				</span>
				<ul>
					<li ng-repeat="itm in items">
						<a href="{{ itm.link }}"><span class="fa fa-tag"></span> {{ itm.term }}</a>
						<span style="color:#888;" ng-show="itm.edition">
						(ed. {{itm.edition}})
						</span>
						<span style="color:#888;" ng-show="itm.extras">
							(<!--{{ implode(', ', $itm['extras']) }}-->)
						</span>
					</li>
				</ul>
			</div>

		</div>
	</div>

	<div class="panel panel-default" ng-show="holdings.length">
		<!-- Default panel contents -->
		<div class="panel-heading">Holdings</div>

		<div class="panel-body">
		<ul class="list-group" style="list-style-type: none;">
			<li style="margin-top:.5em" ng-repeat="holding in holdings">

				<div><span class="fa {{ holding.circulation_status == 'Available' ? 'fa-check-circle text-success' : 'fa-times-circle text-warning' }}"></span>
				{{ holding.shelvinglocation }}{{ 
					(holding.callcode && holding.callcode != '-' ) ? ' ' + holding.callcode : '' 
				}} : {{
					holding.circulation_status
				}}{{
					holding.use_restrictions ? ', ' + holding.use_restrictions.toLowerCase() : ''
				}}
				</div>
				<div ng-repeat="note in holding.public_notes">Note: {{ note }}</div>
				<div ng-repeat="fulltext in holding.fulltext">
					<a href="{{ fulltext.url }}">
						Fulltext from {{ fulltext.provider }}
					</a>
				</div>
				<small>{{ holding.id }}{{
					holding.acquired ? ', acquired: ' + holding.acquired.split(' ')[0] : ''
				}}</small>

			</li>
		</ul>

		</div>
	</div>

</div>